<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <legend>Sign up to break the ice!</legend>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, class: "form-control" %></div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %></div>
        <% if f.object.password_required? %>
          <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %></div>

          <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></div>
        <% end %>  
          <li>
          <div><%= f.submit "Sign up", class: "btn btn-success" %>
          <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
          </div>
      </li>
    <% end %>
    <hr>

    <!-- <%= render "devise/shared/links" %> -->

  </div>
</div>
